* {
    margin: 25;
    padding: 0;
}

.cabeçalho-imagem{
    width: 15%;
    height: 15%;
}

.cabeçalho {
    background-image: url('https://img.olympics.com/images/image/private/t_s_16_9_g_auto/t_s_w960/f_auto/primary/npcy3nwsbmo5xz0wiy4e');
    color: white;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-lista-item{
    display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size:  24px;
}