<header>
* {
    margin: 16ex;
    padding: 16;
    }

.cabecalho-imagem{
    width: 20%;
    }
    .cabecalho {
        background-color: #0026ff;
        color: rgb(0, 47, 255);
        display:flex;
        justify-content: space-around;
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        }